.divider-primary {
  border-color: rgba($color: theme-color("primary"), $alpha: 0.5);
}

.font-fugaz {
  font-family: "Fugaz One", cursive;
}

.text-bigger {
  font-size: 1.5em;
}

.glass {
  background-color: #f6f6f6;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.band-logo {
  font-size: 1.5em;
  font-family: "Bungee Shade", cursive;
  border-radius: 50%;
  padding: 5px;

  a {
    text-decoration: none;
  }
}

.navbar-dark {
  background-color: theme-color("dark");

  .nav-link {
    color: theme-color("light") !important; // overrides bootstrap
  }

  .band-logo {
    background-color: theme-color("light");

    a {
      color: theme-color("dark");
    }
  }
}

.navbar-light {
  .nav-link {
    color: black !important; // overrides bootstrap
  }

  .band-logo {
    background-color: theme-color("dark");

    a {
      color: theme-color("light");
    }
  }
}

.band-logo:hover {
  background-color: theme-color("primary");

  a {
    color: theme-color("light");
  }
}

// Experimental property. Seems well supported on Chrome.
@supports (backdrop-filter: blur(10px)) {
  .glass {
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.05);
  }
}

.navbar {
  .nav-link {
    font-weight: 500;

    &:hover {
      color: theme-color("primary") !important; // overrides bootstrap
    }
  }

  .nav-item.active .nav-link {
    color: theme-color("primary") !important; // overrides bootstrap
  }
}

.btn--stunning {
  @extend .glass;
  font-weight: 500;
  border-color: black;
  border-width: 2px;
  color: black;
  box-shadow: 5px 5px 0px black;

  &:hover {
    background: theme-color("primary");
    color: white;
  }
}
